<a href="https://colab.research.google.com/github/yskim0000/lanh/blob/notes/W04_0329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Week 4:
<br>
Control Flows & Functions</h1>

## if

Executes a code block conditionally, depending on whether a specific condition is `True` or `False`

<h3>Condition</h3>

An expression that results in either `True` or `False`

In [1]:
temperature = 32

print(temperature > 30)

True

In [2]:
# Used as condition in if statement

if temperature > 30:
  print("The weather is hot.")

The weather is hot.

<h3>else</h3>

Executes a code block only if the condition in the if statement is `False`

In [3]:
temperature = 20

if temperature > 30:
  print("The weather is hot.")
else:
  print("The weather is nice.")

The weather is nice.

<h3>elif</h3>

Used to check for multiple conditions

In [4]:
temperature = 8

if temperature > 30:
  print("The weather is hot.")
elif temperature < 10:
  print("The weather is cold.")
else:
  print("The weather is nice.")

The weather is cold.

<h3>Complex Condition</h3>

Comparison operators and logical operators can be used together

In [5]:
temperature = 20

if temperature > 10 and temperature < 30:
  print("The weather is nice.")
else:
  print("The weather is bad.")

The weather is nice.

### if statement: Exercise

1.

Chris is going to stay home if it is raining or snowing outside.
<br>
Check if Chris will stay home today.
<br>
<br>

|weather|status|
|-|-|
|rain|false|
|snow|true|

In [6]:
#@title Answer

is_raining = False
is_snowing = True

if is_raining or is_snowing:
  print("Chris will stay home today.")
else:
  print("Chris will go out today.")

Chris will stay home today.

2.

You can park in a parking lot if you have a small car and are a resident of an apartment.
<br>
Check if you can park your car there.
<br>
<br>

|condition|status|
|-|-|
|small car|true|
|resident|true|

In [7]:
#@title Answer

has_small_car = True
is_resident = True

if has_small_car and is_resident:
  print("You can park your car.")
else:
  print("You can't park your car.")

You can park your car.

3.

Check if you have a task to complete using `not` operator.
<br>
<br>
task_completed = false

In [8]:
#@title Answer

task_completed = False

if not task_completed:
  print("You have a task to complete.")
else:
  print("You completed all the tasks.")

You have a task to complete.

4.

You need to verify if a customer is over 18 and has a valid ID to purchase a product.
<br>
<br>
Customer
- 19 years old
- has no ID card

In [9]:
#@title Answer

age = 19
has_id_card = False

if age > 18 and has_id_card:
  print("You can buy this product.")
else:
  print("You are not allowed to buy this product.")

You are not allowed to buy this product.

5.

Jane is 16 years old and is 153cm tall.
<br>
Check if Jane can ride a roller coaster.
<br>
<br>

To ride a roller coaster,
<br>
one should meet all these conditions:
1. over 150cm
2. over 15 years old

In [10]:
#@title Answer

age = 16
height = 153

if age > 15 and height > 150:
  print("Jane can ride a roller coaster.")
else:
  print("Jane is not allowed to ride a roller coaster.")

Jane can ride a roller coaster.

## for

Executes a code block repeatedly, once for each element in a sequence

In [11]:
# Print each element in a list without for loop
a = [1, 2, 3, 4]

print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2
3
4

In [12]:
# Print each element in a list with for loop

for i in a:
  print(i)

1
2
3
4

In [13]:
for c in "python":
  print(c)

p
y
t
h
o
n

<h3>range()</h3>

A function that returns a sequence of numbers

In [14]:
for i in range(4):
  print(i)

0
1
2
3

In [15]:
for i in range(1, 4):
  print(i)

1
2
3

<h3>break</h3>

Exits the loop entirely

In [16]:
fruits = ["apple", "banana", "orange", "cherry"]

for fruit in fruits:
  if fruit == "orange":
    print("You found an orange!")
    break  # Exit the loop after finding orange
  else:
    print(fruit)

apple
banana
You found an orange!

### for loop: Exercise

1.

Print a greeting message to each friend using `for` loop.
<br>
Do not forget to call each friend's name!

In [17]:
friends = ["Mia", "Liam", "Jay"]

# Start from here!

In [18]:
#@title Answer

friends = ["Mia", "Liam", "Jay"]

for friend in friends:
  print("Hello,", friend)

Hello, Mia
Hello, Liam
Hello, Jay

2.

You manage a store and need to calculate the total sales from a list of daily sales figures.
<br>
Use `for` loop to accomplish this job.

In [19]:
daily_sales = [1200, 850, 1500, 990, 1100]
total_sales = 0

# Start from here!

In [20]:
#@title Answer

daily_sales = [1200, 850, 1500, 990, 1100]
total_sales = 0

for sale in daily_sales:
  total_sales += sale  # total_sales = total_sales + sale

print("total sales:", total_sales)

total sales: 5640

3.

Count the number of vowels in the following text.
<br>
<br>
"The cat slept peacefully on the windowsill."

In [21]:
#@title Answer

sentence = "The cat slept peacefully on the windowsill."
num_vowels = 0

for c in sentence:
  if c in [ "a", "e", "i", "o", "u" ]:
    num_vowels += 1

print("number of vowels:", num_vowels)

number of vowels: 12

4.

From 1 to 10, print even numbers only.

In [22]:
#@title Answer

for i in range(1, 11):
  if i % 2 == 0:
    print(i)

2
4
6
8
10

5.

Assign A for scores >= 90, B for scores >= 80, C for scores >= 70, and D for the rest.

In [23]:
scores = [85, 92, 78, 90, 69]
grades = []

# Start from here!

In [24]:
#@title Answer

scores = [85, 92, 78, 90, 69]
grades = []

for score in scores:
  if (score >= 90):
    grades.append("A")
  elif (score >= 80):
    grades.append("B")
  elif (score >= 70):
    grades.append("C")
  else:
    grades.append("D")

print("grades:", grades)

grades: ['B', 'A', 'C', 'A', 'D']

## while

Executes a code block repeatedly as long as a specified condition is `True`

In [25]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [26]:
import random

i = 0

while i < 20:
  print(i)
  random_int = random.randint(0, 9)
  i = i + random_int

0
6
10
18

### while loop: Exercise

1.

Simulate throwing the dice until number 6 comes out.
<br>
Use `while` loop and `random.randint()` function.

In [27]:
import random  # You will learn what `import` is soon!

# Start from here!

In [28]:
#@title Answer

import random

dice = 1

while dice != 6:
  dice = random.randint(1, 6)
  print("number:", dice)

number: 5
number: 4
number: 6

2.

Ensure the user enters a valid age (e.g., from 18 to 65).
<br>
Use `input()` function, `while` loop and `break`.

In [29]:
#@title Answer

while True:
  age = int(input("Enter your age: "))

  if age >= 18 and age <= 65:
    print("valid age!")
    break

Enter your age: 20
valid age!

3.

Simulate a simple guessing game where the user has to guess a secret number. <br>
Use `input()` function, `while` loop and `break`.

In [31]:
#@title Answer

secret_number = 11

while True:
  guess = int(input("Guess the number: "))

  if secret_number == guess:
    print("Success!")
    break
  else:
    print("Nope! Try again.")

Guess the number: 11
Success!

## Function

A reusable code block that performs a specific task

In [32]:
# Python basic functions

print("Hello")
print(len("python"))

Hello
6

<h3>Defining Function</h3>

You can create a custom function on your own

In [33]:
def add(x, y):
  result = x + y
  return result

<h3>Calling Function</h3>

You can call (= use) the function you defined

In [34]:
print(add(1, 2))

3

<h3>Functions without Outputs</h3>

Not all functions have to return outputs

In [35]:
def greetWithName(name):
  print("Hello " + name + "!")

greetWithName("Python")

Hello Python!

<h3>Functions without Inputs</h3>

Not all functions have to receive inputs

In [36]:
def greet():
  print("Hello!")

greet()

Hello!

### Scope

Scopes define the visibility and accessibility of variables throughout your code

<h4>Local Scope</h4>

Variables declared inside a function are only accessible within that function

In [37]:
def calculate_area(length, width):
  area = length * width  # Local variables
  return area

result = calculate_area(5, 3)
print(result)

# This will cause an error
# print(area)
# print(length)
# print(width)

15

<h4>Global Scope</h4>

- Global variables are declared outside of any function, typically at the beginning of the script
- They are accessible from anywhere within the script, including all functions

In [38]:
# Global variables
length = 5
width = 3

def calculate_another_area():
  return length * width

another_result = calculate_another_area()
print(another_result)

15

### Function: Exercise

1.

Define a function that takes two numbers, adds them and returns the result.

In [39]:
#@title Answer

def add(num_1, num_2):
  return num_1 + num_2

2.

Define a function that takes an age in years and returns the corresponding age in days.
<br>
Assume each year has 365 days.

In [40]:
#@title Answer

def convert_age(age_in_years):
  return int(age_in_years * 365)

3.

Define a function that takes a temperature in Farenheit and returns it in Celsius.
<br>
<br>
Formula: $C = \frac{5}{9}(F - 32)$

In [41]:
#@title Answer

def convert_temperature(farenheit):
  return 5/9 * (farenheit - 32)

4.

Define a function that takes the numerical score and returns the corresponding letter grade.
<br>
<br>
Grade thresholds:
<br>
A: 90 ~ 100
<br>
B: 80 ~ 89
<br>
C: 70 ~ 79
<br>
D: 60 ~ 69
<br>
F: 0 ~ 60

In [42]:
#@title Answer

def convert_grade(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

5.

Define a function that works like `len()` function.

In [43]:
#@title Answer

def calculate_length(data):
  return len(data)