<a href="https://colab.research.google.com/github/yskim0000/lanh/blob/main/W4_0329.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<**W3 review**>

Number: Exercise

4번

In [ ]:
#5번문제
a_score = 85
b_score = 92
c_score = 76

average_score = (a_score + b_score + c_score)/3

#평균 내기
print(average_score)

#comparison operator 사용해서 값 비교
print (a_score > average_score)
print (b_score > average_score)
print (c_score > average_score)

84.33333333333333
True
True
False

참고

변수는 이름 지을 수 있지만 알파벳 사용.

print / len 함수 등은 파이썬에서 기본으로 제공하는 함수들.

이런 함수들 이름을 변수 이름으로 하지 말 것.

////////////////////3주차 복습

3주차 나머지 분량

Adding Elements (LIST ONLY)

List methods can be used for adding elements in a list


.append()

A list method that adds an element to the end of a list


append : 리스트에 종속되어 있는 함수.

In [ ]:
a = [1, 2, 3, 4]

a.append(5)
print(a)

[1, 2, 3, 4, 5]

.extend()

A list method that adds multiple elements to the end of a list

---



append는 하나의 element만. extend는 한번에 여러 개.

In [ ]:
a.extend([5, 6])
print(a)

[1, 2, 3, 4, 5, 5, 6]

Deleting Elements (LIST ONLY)

List method can be used for deleting elements in a list

.pop()

A list method that deletes and returns the last element from a list

In [ ]:
b = a.pop()

print(a)
print(b)

[1, 2, 3, 4, 5, 5]
6

Others

There are other functions and methods that do some actions on sequences

len()

A function that returns the number of elements


---



** 스트링과 리스트에서 모두 사용

In [ ]:
a = "python"
print(len(a))


b = [1, 2, 3, 5, 7, 11, 13, 17]
print(len(b))

6
8

.replace() (STRING ONLY)

A string method that returns a replaced string


---


**append와의 차이점 : append는 a.append 이렇게 쓰면 굳이 a = a.append이렇게 할 필요 없음. replace는 a=~ 이런식으로 정립해주어야 함.

In [ ]:
a = "Hello world!"
print(a)

a = a.replace("world", "python")
print(a)

Hello world!
Hello python!

.split() (STRING ONLY)

A string method that splits a string and returns a list of substrings



---


자주 쓰이지는 않지만  가끔 유용하게 쓸 수 있음

ex. 발달사 텍스트 분석에서 단어가 몇 개인지 계산

In [ ]:
a = "red green blue"
print(a.split(" "))
#space를 기준으로 이 스트링을 잘라줘. >> 총 세 개의 스트링이 쪼개어져서 나온 결과값은 리스트로 돌려줌.

['red', 'green', 'blue']

Sequence: Exercise
Combine these two names to create a full name.

First Name: Alice
Last Name: Smith

In [ ]:
a = "Alice"
b = " Smith" #이름이니까 스페이스 만들어주기
a+b

'Alice Smith'

You have two guest lists for a party. Combine them to a single list.

Dinner Guests: Chloe, Mark

Party Guests: Charlie, Hanna

In [ ]:
dinner_guests = {"Chloe", "Mark"}
party_guests = {"Charlie","Hanna"}
dinner_guests + party_guests #틀림

TypeError: unsupported operand type(s) for +: 'set' and 'set'


You want to add items to a shopping cart list.

Create a shopping cart list and add new item strings ("Apples", "Breads", "Milk").

---



** 빈 리스트를 만들어놓고 append로 하나하나 추가하는 작업을 많이 함

In [ ]:
shopping_cart=() #틀림
shopping_cart.extend({"Apples", "Bread", "Milk"})
shopping_cart

AttributeError: 'tuple' object has no attribute 'extend'


Extract the month from a date string.

"2024-03-22"

In [ ]:
date_string = "2024-03-22" #-를 기준으로 쪼개기
split_strings = date_string.split("-")
split_strings

['2024', '03', '22']

In [ ]:
print(split_strings[1]) #split 사용

03

In [ ]:
date_string = "2024-03-22" #바로 구하기 (코드는 최대한 짧게 쓰는게 더 낫다.)
date_string[5:7]

'03'

Mapping: Dictionary

A collection of key-value data pairs

Can access data by keys


---
list와 차이점 : [1,2,3] [1,3,2]는 다른 리스트. 순서를 엄격히 지키기 때문.
dict는 순서가 없음. 매핑이 되어있음

{} 중괄호 사용, {key(단어) : value(의미)}

관습적으로 key 는 string



---
Accessing Value

Operator(ex. print) can be used for accessing values with keys

Updating existing Value

Operators can be used for updating existing values

In [ ]:
a = {"name": "Luna", "age": 20}

Updating existing Value

Operators can be used for updating existing values

In [ ]:
print(a)

a["name"] = "Jay"
print(a)

{'name': 'Luna', 'age': 20}
{'name': 'Jay', 'age': 20}

Adding Key & Value

Operators can be used for adding new keys and values

list에서 쓰는 append보다 간단함. dict는 없는 key를 쓰면 추가가 되는데 list는 append를 써서 따로 추가해주어야함


반드시 key와 value를 함께 추가해 주어야함.

In [ ]:
# Adding a key-value pair

a["is_student"] = True
print(a)

{'name': 'Jay', 'age': 20, 'is_student': True}

Others
There are other functions and methods that do some actions on dictionaries


.keys()

A dictionary method that returns the keys of a dictionary

print(a.keys())


.values()

A dictionary method that returns the values of a dictionary

print(a.values())


Create a phonebook as a dictionary and access Emily's phone number.

Phonebook:

name	phone number

Emily	123-456-7890

Bob	987-654-3210

In [ ]:
#key : name / value : phone number
phonebook={"Elmily" : "123-456-7890", "Bob" : "987-654-3210"}
print #list처럼 값에 접근할 때는 대괄호 사용

Boolean

string도 아니고 참과 거짓만을 가려주는 것.

Comparison

Comparison operators can be used for data comparisons


//////


Condition

Logical operators can be used for forming conditions

and: returns True if two operands are both True (앞의 불리안, 뒤의 불리안이 모두 true이 경우)

or: returns True if at least one of the operands is True >> 둘 중 하나가 참이면 참

not: returns true if operand is false and vice versa >> 반대의 불리안 값 출력

>>특정 작업을 할 지 안할 지 결정할 때 사용

Chris is going to stay home if it is raining or snowing outside.
Check if Chris will go out today.


weather	status

rain	false

snow	true

In [ ]:
is_raining = False
is_snowing = True

will_stay_home = is_raining or is_snowing
print(will_stay_home)

True

Check if you have a task to complete using not operator.

task_completed = false

In [ ]:
task_completed = False
task_to_complete = not task_completed
print(task_to_complete)

True

You need to verify if a customer is over 18 and has a valid ID to purchase a product.

Customer

19 years old

has no ID card
(나이, 신분증 유무 - 조건이 2개)

In [ ]:
age = 19
age_qualified = age > 18    #comparison operator과 logical operator를 섞어서 쓸 수 있는 게 불리안
has_card = False

print(age_qualified and has_card)

False

# Week 4:

## Control Flows & Functions

Control flow : 세 종류 : 조건에 따라 작업을 다르게 하는 것 (어떤 순서대로 풀어나갈 것인가.) / 특정 작업을 반복하는 것 (loop을 정해진 숫자만큼 도는 것) / loop을 특정 조건을 만족하는 경우 무한대로 도는 것

## if

Conditionally executes code block based on whether a certain condition is true or false

Condition

An expression that evaluates to either True or False

In [ ]:
temperature = 32         # 이 숫자를 20으로 하면 아무것도 출력되지 않음

print(temperature >= 32)  #특정 조건을 충족하면 특정 메세지를 출력하는 조건문.


# Used as condition in if statement

if temperature > 30:       #조건이 끝났음을 :으로 표시
  print("The weather is hot.")   #들여쓰기(인덴트) 꼭 해야됨. if문에 종속된 print임을 표시하는 것임

True
The weather is hot.

# else

Executes code block only if the condition in the if statement is False

if가 만족되지 않은 경우 다른 코드를 돌리게 하고 싶을 때 사용

# elif
Used to check for multiple conditions

조건을 여러 개 다는 것. else if의 줄임말.

조건 1을 만족하지 않아. 그렇다면 이 조건..

이 elif는 여러 개 달 수 있다. 조건을 여러 개 달고 싶으면 if문을 한 번 쓰고 elif를 여러 번 쓰면 됨

**이때 조건 하나 만족하면 나머지 아래의 조건들은 모두 무시됨

# Complex Condition

Comparison operators and logical operators can be used together

condition을 복잡하게 만들 수 있도록 하는 것.